*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
.container{
  max-width: 1200px;
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}
a{
  color: #333;
  text-decoration: none;
}
h1,h2,h3{
  padding-bottom: 20px;
}
p{
  margin: 10px 0;
}

#navbar{
  background: black;
  color: white;
  overflow: auto;
}

#navbar a{
  color: white;
}

#navbar h1{
  float: left;
  padding: 20px;
}

#navbar ul{
  list-style: none;
  float: right;
}

#navbar li{
  float: left;
}

#navbar li a{
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar li a:hover, #navbar li a.current{
  background-color: #444;
  color: #f7c08a;
}
/* Showcase */
#showcase{
  background: url('../image_resources/showcase.jpg') no-repeat center center/cover;
  height: 600px;
}
#showcase .showcase-content{
  color: white;
  text-align: center;
  padding-top: 170px;
}
#showcase .showcase-content h1{
  font-size: 60px;
  line-height: 1.4em;
}
.primary-text{
  color: #f7c08a;
}
.lead{
  font-size: 20px;
}
#showcase .showcase-content p{
  line-height: 1.7em;
  padding-bottom: 20px;
}
.btn{
  display: inline-block;
  font-size: 18px;
  color: white;
  background-color: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}
.btn:hover{
  color: #333;
  background: #f7c08a;
}
.btn-light{
  color: #333;
  background: #f4f4f4;
}
/* Home Info */
#home-info{
  height: 450px;
}

#home-info .info-img{
  float: left;
  width: 50%;
  background: url('../image_resources/photo-1.jpg') no-repeat;
  min-height: 100%;
}
#home-info .info-text{
    float:right;
    width: 50%;
    height:100%;
    text-align: center;
    overflow: hidden;
    padding: 50px 30px;
}
.bg-dark{
  background: #333;
  color: white;
}
.bg-light{
  background: #f4f4f4;
  color: #333;
}
.bg-primary{
  color: #333;
  background: #f7c08a;
}
#home-info .info-text p{
  padding-bottom: 30px;
}
.box{
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
  height: 250px;
}
.box h3{
  font-size: larger;
}
.box p{
  font-size: larger;
} 
.footer{
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}
.clr{
  clear: both;
}
#about-info .info-right{
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img{
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

#about-info .info-left{
  float: left;
  /* display: inline-block; */
  width: 50%;
  min-height: 100%;
}
.py-1{
  padding: 10px 0;
}
.py-2{
  padding: 20px 0;
}
.py-3{
  padding: 30px 0;
}
.l-heading{
  font-size: 40px;
  line-height: 1.7rem;
}

#testimonials{
  height: 100%;
  background: url('../image_resources/test-bg.jpg') no-repeat center center/cover;
  padding-top: 100px;
}

#testimonials .testimonials img{
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}
.testimonials p{
  font-size: 20px;
  padding: 10px;
}
#testimonials .container h2{
  color: white;
  margin-bottom: 40px;
  text-align: center;
}
.testimonials{
  margin-bottom: 20px;
  border-radius: 10px;
  opacity: 0.9;
}
.testimonials img{
  float: left;
  padding: 5px;
  overflow: hidden;
}
.testimonials p{
  font-size: 1.2rem;
  padding: 20px 0;
}
.testimonials .bg-primary:hover{
  border: 2px solid ;
} 
#form{
  padding: 30px;
  
}
#form .h3{
font-size: 25px;
/* color: white; */
}
.contact-form h3{
  font-size: 20px;
  padding-top: 20px;
}

 .form-group{
  margin-bottom: 20px;

} 

 .form-group label{
  display: block;
  margin-bottom: 5px;
}

 .form-group input, .form-group textarea{
   padding: 10px;
   width: 50%;
   border: 1px solid lightgrey;
 }
 .form-group input, .form-group textarea, .form-group label{
   margin-left: 24%;
 }

 #form .btn{
   margin-left: 44%;
   margin-top: 20px;
   padding: 18px 42px;
   
 }
 
 #container .btn{
   margin-top: 20px;
 }
 .bg-gr{
   background: #444;
   color: white;
   text-align: center;
   padding: 70px 20px;
 }
 #form h2, #form .h3{
   text-align: center;
 }
 #form{
   background: url('../image_resources/showcase.jpg');
   opacity: 0.9;
 }
 
 